@font-face {
  font-family: 'montserrat';
  src: url('assets/polices/Montserrat/Montserrat-VariableFont_wght.ttf')
}
@font-face {
  font-family: 'lato';
  src: url('assets/polices/Lato/Lato-Light.ttf')
}


:root {
  --margin-box: 20px;
  --main-color: #f76c6c;
}
html {
  height: -webkit-fill-available;;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/*----- TEST SCROLL SNAP --------------------------------------------------------------------*/
/*#header {
  --position: sticky;
}

main {
  max-height: calc(100vh - 50px);
  display: flex;
  overflow: auto;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}


#description,
#formulaire,
#iframe {
  width: 100%;
  height: calc(100vh - 50px);
  scroll-snap-align: center;
  flex: none;
}
*/
#timeline{
  width: 100%;
  height: calc(100vh - 50px);
  scroll-snap-align: start;
  flex: none;
}
/*----- FIN TEST SCROLL SNAP -------*/

/*----HEADER-CSS---------------------------------------------------------------------------*/
header {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 5px 0px #dcdcdc;
  background-color: var(--main-color);
  padding: 2rem;
  gap: 1rem;
}

header .logo {
  width: 2rem;
  height: 2rem;
}

header h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  color: #fff;

}

h1, h2, h3 {
  font-family: "montserrat", sans-serif;
}
p {
  font-family: 'lato';
}

/*-------fin header ------------------------------------------------------------------------*/

/*-------section description ---------------------------------------------------------------*/
.description {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.description h1 {
  margin-top: 2rem;
  position: relative;
  color: #39424e;
  width: 90%;
  padding-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.description h1::before {
  position: absolute;
  bottom: 20px;
  content: " ";
  width: 150px;
  height: 6px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  background-color: var(--main-color);
}

.description>p {
  color: #39424e;
  width: 80%;
  font-size: 1.1rem;
  padding-bottom: .5rem;
}

.softskills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  margin: 2rem;
}


/* ----Fin Description ------------------------------------------------------------------- */

/*----Timeline CSS-------------------------------------------------------------------------*/
#timeline {
  height: 1500px;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#progress-bar {
  width: 1rem;
  height: 100%;
  background-color: #dcdcdc;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.progress {
  width: 100%;
  height: 0;
  background-color: var(--main-color);
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0 #cacaca;
  transition: height 2s;
}

.circles {
  position: absolute;
  top: 0;
  height: 1500px;
  display: flex;
  flex-direction: column;
  /*opacity: 0.50*/
}

.box {
  position: absolute;
  left: 6rem;
  top: 0;
  max-width: 80vw;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0 #dcdcdc;
  opacity: 0;
}

.scrolled {
  opacity: 1;
  transition: opacity 1.5s;
}

.circle {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 0.5rem solid #dcdcdc;
  border-radius: 50%;
  margin-bottom: calc((1500px - 12rem) / 4);
}

.circle.complete {
  border: 0.5rem solid var(--main-color);
}

.box.b2 {
  top: 25%;
}

.box.b3 {
  top: 50%;
}

.box.b4 {
  top: 75%;
}

.skills {
  margin-top: 1rem;
}

.hardskills ul {
  display: flex;
  flex-wrap: wrap;
}

.hardskills ul img {
  width: 1.5rem;
  height: 1.5rem;
}

ul li {
  list-style: none;
  padding: 0.5rem;
}

/*---- section formulaire ----------------------------------------------------------------------------*/

.formulaire {
  margin: var(--margin-box);
  --margin-top: calc(50vh - 50px);
  --transform: translateY(-50%);
  height: calc(100vh - 100px);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0.3rem 0px #dcdcdc;
  background-color: #dd0b0b0d;
}

.formulaire form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  margin-bottom: 0;
}

.formulaire h3 {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--main-color);
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: -20px;
  margin-left: -20px;
  border-radius: 20px 20px 0 0;

}

.formulaire label {
  font-family: "montserrat", sans-serif;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #39424e;
  font-size: 1.2rem;
}

.formulaire input {
  padding: 10px;
  border: none;
  border-bottom: 4px solid #dcdcdc;
  color: var(--main-color);
  border-radius: 10px;
}

#email,
#firstname,
#lastname {
  margin-top: 10px;
}

#message {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  border: 3px solid #dcdcdc;
  color: var(--main-color);
}

.formulaire form button {
  margin: auto;
  padding: 0.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  min-width: 20vw;
  background-color: var(--main-color);
  color: white;
}

iframe {
  max-width: 100%;
  padding: var(--margin-box);
  margin: calc(10% / 2);
}

/*---- fin de section de formulaire ----------------------------------------------------*/

/*-------------FOOTER ----------------------------------------------------------------- */

/*-----MEDIA----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  header{
    --padding: 3rem;
  }
  header h2{
    font-size: 1.5rem;
  }

  .description{
    margin-bottom: 50px;
  }
  .softskills{
    margin: 5rem;
  }
  .swipe-logo{
    margin-bottom: 50px;
  }
  header{
    justify-content: flex-start;
  }
  #progress-bar {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .circles {
    left: 50%;
    transform: translateX(-50%);
  }

  .box {
    left: 50%;
    transform: translateX(-50%);
  }

  .box.b1 {
    transform: translateX(calc(-100% - 3rem));
  }

  .box.b2 {
    transform: translateX(3rem);
    top: 25%;
  }

  .box.b3 {
    transform: translateX(calc(-100% - 3rem));
    top: 50%;
  }

  .box.b4 {
    transform: translateX(3rem);
    top: 75%;
  }

  .softskills {
    display: flex;
    flex-direction: row;
  }

  .softskills img {
    width: 3.5rem;
  }

  .hardskills ul img {
    width: 2rem;
    height: 2rem;
  }

  main {
    scroll-snap-type: none;
  }

  #description,
  #timeline,
  #formulaire {
    scroll-snap-align: none;
  }

  #formulaire {
    display: flex;
    justify-content: space-around;
  }

  .formulaire {
    width: 30vw;
    --height: fit-content;
  }

  .formulaire form {
    margin: 0 20px 20px 20px;
    justify-content: space-around;
  }

  #iframe {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

    iframe{
      padding : 20px;
      height: 100%;
    }
    #iframe{
      width: 50vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .box {
    max-width: 40vw;
  }
}

@media screen and (min-width: 992px) {
  .box {
    max-width: 40vw;
  }

  .description .swipe-logo {
    display: none;
  }

}
